<launch>
    <param name="serial_port" value="/dev/ttyUSB0" />
    <param name="baud_rate" value="115200" />

    <node pkg="cut_pliers_controller" type="test_node" name="cut_pliers_controller" output="screen">
        <param name="serial_port" value="/dev/ttyUSB0" />
        <param name="baud_rate" value="115200" />
    </node>
</launch>
